@import('main.css');

#container {
	margin: 0 auto;
	width: 27%;
	font-family: verdana, arial;
}

#table-log {
	border: 1px solid #ccc;
	width: 100%;
	text-align: center;
}

.separador {
	margin: 30px 0 30px 0;
	border: 1px solid #CCC;
}

#table-log th {
	background-color: #CCC;
	border: none;
	border-color: #CCC;
}

.titulo-medio {
	font-size: 1.5em;
}

.alinhar-centro {
	text-align: center;
}

.odd {
	background: yellow;
}